<div class="addthis_toolbox addthis_default_style " {% if article.url %} addthis:url={{shop.url}}{{article.url}} addthis:title={{article.title}} {% endif %} >
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type='text/javascript'>
var addthis_product = 'sfy-2.0.2';
var addthis_plugin_info = {"info_status":"enabled","cms_name":"Shopify","cms_version":"trial","plugin_name":"AddThis Sharing Tool","plugin_version":"2.0.2","plugin_mode":"AddThis","anonymous_profile_id":"xa-b66e54262f0ea8995b5fdab4d526dd9f"};
var addthis_config     = {/*AddThisShopify_config_begins*/pubid:'xa-b66e54262f0ea8995b5fdab4d526dd9f', button_style:'style1', services_compact:'', ui_delay:0, ui_click:false, ui_language:'', data_track_clickback:true, data_ga_tracker:'', custom_services:'', custom_services_size:true/*AddThisShopify_config_ends*/};
</script>
<script type='text/javascript' src='//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-b66e54262f0ea8995b5fdab4d526dd9f'></script>