{% assign widgetSlug = conversioproductreview %}

<div class="rf-reviews" data-slug="{{ widgetSlug }}" data-product="{{ product.id }}"></div>

<script>
if (typeof window.ConversioData === 'undefined') {
  window.ConversioData = {};
}
</script>
