<article class="product-list-item">
  <figure class="product-list-item-thumbnail">
    {{ image }}
  </figure>

  <div class="product-list-item-details">
    <p class="product-list-item-vendor">{{ 'onboarding.home_products.product_vendor' | t }}</p>
    <h2 class="product-list-item-title">{{ 'onboarding.home_products.product_title' | t }}</h2>
    <p class="product-list-item-price">
      <span class="money">{{ 'onboarding.home_products.product_price' | t }}</span>
    </p>
  </div>
</article>
