<script
  type="application/json"
  data-section-type="dynamic-masonry"
  data-section-id="{{ section.id }}">
</script>
<section>
  {% include 'home-masonry' %}
</section>

{% schema %}
{
  "name": "Masonry",
  "class": "section-masonry",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "content-width",
          "label": "Content width"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "content-width"
    },
    {
      "type": "checkbox",
      "id": "gutters",
      "label": "Enable gutters",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hover",
      "label": "Enable text hover",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hover-animation",
      "label": "Enable hover animation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image_feature",
      "name": "Image feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Masonry feature"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Showcase up to six features with overlaying text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "black"
        },
        {
          "type": "checkbox",
          "id": "mobile",
          "label": "Show on mobile",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 640px recommended"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show overlay",
          "default": false
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "opacity",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    },
    {
      "type": "video_feature",
      "name": "Video feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Video feature"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Showcase up to six features with overlaying text"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "black"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "YouTube or Vimeo link",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 700px recommended"
        },
        {
          "type": "checkbox",
          "id": "mobile",
          "label": "Show on mobile",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Masonry",
      "blocks": [
        {
          "type": "image_feature"
        },
        {
          "type": "image_feature"
        },
        {
          "type": "image_feature"
        },
        {
          "type": "image_feature"
        },
        {
          "type": "image_feature"
        },
        {
          "type": "image_feature"
        }
      ]
    }
  ]
}

{% endschema %}