<script
  type="application/json"
  data-section-type="dynamic-masonry"
  data-section-id="{{ section.id }}"
>
</script>

{%- assign onboard = false -%}
{%- assign featureCount = section.blocks.size -%}
{%- assign featureIndex = 0 -%}

{%- if featureCount == 0 -%}
  {%- assign featureCount = 6 -%}
  {%- assign onboard = true -%}
{%- endif -%}

<section>
  {%
    include 'home-masonry',
    alternative: true
  %}
</section>

{% schema %}
{
  "name": "Masonry alternative",
  "max_blocks": 6,
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "info": "120px high recommended",
      "label": "Alternate index layout logo"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text logo color",
      "info": "If you're not using a custom logo, this option will set the color of your shop title."
    },
    {
      "type": "checkbox",
      "id": "gutters",
      "label": "Enable gutters",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hover",
      "label": "Enable text hover",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hover-animation",
      "label": "Enable hover animation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image_feature",
      "name": "Image feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Masonry feature"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Showcase up to six features with overlaying text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "black"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 700px recommended"
        },
        {
          "type": "checkbox",
          "id": "mobile",
          "label": "Show on mobile",
          "default": true
        }
      ]
    },
    {
      "type": "video_feature",
      "name": "Video feature",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Video feature"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Showcase up to six features with overlaying text"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Text color",
          "options": [
            {
              "value": "white",
              "label": "White"
            },
            {
              "value": "black",
              "label": "Black"
            }
          ],
          "default": "black"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "YouTube or Vimeo link",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1400 x 640px recommended"
        },
        {
          "type": "checkbox",
          "id": "mobile",
          "label": "Show on mobile",
          "default": true
        }
      ]
    }
  ]
}

{% endschema %}