

<h1 class="page-title">{{ blog.title }}</h1>





{% include 'breadcrumbs' %}

<div class="blog-wrapper">

  {% include 'blog-sidebar' %}

  {% paginate blog.articles by settings.articles-per-page %}

    <div class="blog-posts">
      {% for article in blog.articles %}
        {% include 'article-list-item' %}
      {% else %}
        <span class="empty">{{ 'blogs.blog.empty' | t }}</span>
      {% endfor %}

      {% if paginate.previous or paginate.next %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  {% endpaginate %}

  {% if settings.blog-promo %}
    {% include 'blog-promo' %}
  {% endif %}

</div>
